html{
  scroll-behavior: smooth;
  background-color: #f1ede2;
}

header {
  background-image: url("../img/img1.jpeg");
  color: khaki;
  font-family: 'dosis', sans-serif;
  font-size: xxx-large;
  display: block;
  margin-top: -63px;
  margin-bottom: -60px;
  text-align: right;
}

.navigation li a{
  color: white;
  text-decoration: none;
  font-size: larger;

}
/*TODO: Change Height and Width*/
.navigation li{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-left: 100px;
  border-radius: 5px;
  width: 110px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 120%;
}

.navigation{
  text-align: center;
}

nav{
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  color: white;
}

.brush_nav{
  background-color: mediumspringgreen;
}
.frame_nav{
  background-color: lightcoral;
}
.paint_nav{
  background-color: skyblue;
}

.navigation li a:hover{
  color: black;
}

.brush_nav:hover{
  border: 2px solid mediumspringgreen;
  background-color: #a3fdd9;
  color: black;
  border-radius: 5px;
}

.brush_nav:active{
  border: 2px solid mediumspringgreen;
  background-color: #a0eccc;
}
.frame_nav:hover{
  border: 2px solid lightcoral;
  background-color: #f3abab;
  color: black;
  border-radius: 5px;
}

.frame_nav:active{
  border: 2px solid lightcoral;
  background-color: #d39d9d;
}
.paint_nav:hover{
  border: 2px solid skyblue;
  background-color: #b7d8ef;
  color: black;
}

.paint_nav:active{
  border: 2px solid skyblue;
  background-color: #9bb8cb;
}

.brush_sec{
  border: 4px outset mediumspringgreen;
  padding: 8px;
  margin-bottom: 8px;
}

.frame_sec{
  border: 4px outset lightcoral;
  padding: 8px;
  margin-bottom: 8px;
}

.paint_sec{
  border: 4px outset skyblue;
  padding: 8px;
}

.brush_price {
  text-decoration: underline;
  text-decoration-color: #00a666;
}

.frame_price{
  text-decoration: underline;
  text-decoration-color: #9c5353;
}

.paint_price{
  text-decoration: underline;
  text-decoration-color: #568497;
}

