html{
  scroll-behavior: smooth;
}
header {
  background-image: url("../img/img1.jpeg");
  color: khaki;
  font-family: 'dosis', sans-serif;
  font-size: xxx-large;
  display: block;
  margin-top: -63px;
  margin-bottom: -60px;
  text-align: right;
}

.navigation li a{
  color: white;
  text-decoration: none;
  font-size: larger;

}
/*TODO: Change Height and Width*/
.navigation li{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-left: 100px;
  border-radius: 5px;
  height: 25px;
  width: 75px;
}

.navigation{
  text-align: center;
}

nav{
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  color: white;
}

.brush_nav{
  background-color: mediumspringgreen;
}
.frame_nav{
  background-color: lightcoral;
}
.paint_nav{
  background-color: skyblue;
}

.navigation li a:hover{
  color: black;
}

.brush_nav:hover{
  border: 2px solid mediumspringgreen;
  background-color: #a3fdd9;
  color: black;
  border-radius: 5px;
}
.frame_nav:hover{
  border: 2px solid lightcoral;
  background-color: #f3abab;
  color: black;
  border-radius: 5px;
}
.paint_nav:hover{
  border: 2px solid skyblue;
  background-color: #b7d8ef;
  color: black;
}

.brush_sec p{
  display: inline-block;
}
